img {
    width: 20%;
    height: auto;
}

body {
    font-size: 18px;
}

div.button_flex {
    display: flex;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.text-center {
    text-align: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_grow {
    flex-grow: 1;
}

div.main_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}

.main_form {
    width: 400px;
    height: 300px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

div.form_username {
   margin-bottom: 10px;
   width: 320px;
}

div.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_username {
    padding: 10px 8px;
    width: 320px;
    margin-top: 10px;
    border-radius: 0.125rem;
    background-color: rgb(243 244 246);
    border: 1px solid rgb(243 244 246);
}

.mt-5 {
    margin-top: 5px;
}

.mb-10 {
    margin-bottom: 20px;
}

select:focus {
    outline: none;
}

.block {
    display: block;
    color: black;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
 
input.input_password {
     border-width: 1px;
     padding: 6px 4px;
     width: 320px;
 
}

.fill_white {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(113deg) brightness(102%) contrast(101%);
    width: 20px;
}

.fill_purple {
   filter: invert(31%) sepia(84%) saturate(4215%) hue-rotate(234deg) brightness(101%) contrast(101%);
}

.custom_button {
    width: 200px;
    height: 25px;
    padding: 5px 5px;
    border: 1px solid #5551ff;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #5551ff;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.clear {
    background-color: white;
    color: #5551ff;
}

.header_bar {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.float {
    flex-grow: 1;
    float: right;
}

p.form_header {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.h2 {
    font-weight: 900;
    font-size: 24px;
}

input.button {
    width: 100px;
    height: 30px;
    border: 1px solid #5551ff;
    background-color: #5551ff;
    color: white;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.main {
    display: flex;
    margin-top: 20px;
}

.search-form {
    color: #555;
    display: flex;
    border: 1px solid currentColor;
    border-radius: 5px; 
}

#form_book {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#form_book .background-card {
    width: 240px;
    height: 370px;
    align-self: center;
}

#form_book .body-card {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    align-self: center;
}

.nav-bar {
    width: 300px;
    margin-right: 20px;
}

.body {
    flex-grow: 5;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch
}

.temp {
    flex-grow: 3;
}

.search_button {
    background-color: #5551ff !important;
    height: 38px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    outline: none;
    flex-grow: 2;
  }
  
input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.9;
    background-color: #5551ff
}
  
button[type="submit"]:hover {
    opacity: 1;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
#form_book {
    max-width: 320px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 0.25rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    padding: 10px 10px;
   
}
#form_book img {
    width: 240px;
    height: 370px;
    /* background-color: red; */
}
#form_book span.header {
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination input {
    text-align: center;
    padding: 5px 5px;
    width: 25px;
    height: 25px;
    background-color: #f0f3f6;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: #30244a;
    line-height: 24px;
    margin: 0px 5px 0px 0px;
    padding: 0px 12px;
    text-align: right;
}

a.button {
    width: 110px;
    height: 25px;
    padding: 5px 5px;
    border: 1px solid #5551ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #5551ff;
    color: white;
    border-radius: 5px;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}
.back_to_home{
    float: left;
}
.log_out{
    float: right;
}
.icon{
    width: 40px;
    height: 40px;
    padding: 5px 10px;
}

